.login-button {
    width: 481px; 
    height: 57px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #2B68DD;
    font-size: 16px;
    color: #FFF;
    font-weight: 500;
    font-weight: bold;
    font-family: Inter;
    text-align: center;
    line-height: 57px;
    cursor: pointer;
  }
  .social-login-button {
    width: 481px; 
    height: 69px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter;
    text-align: center;
    line-height: 69px;
    cursor: pointer;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px){
    .login-button {
      width: 70%; 
      
    }
    .social-login-button{
      width: 90%; 

    }
  }