.great-work-section {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(143, 143, 143, 0.15);
    padding: 2rem;
}

.talent-title {
    width: 460px;
    color: #000;
    text-align: center;
    
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.talent-description {
    width: 411px;
    height: 47px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.find-btn {
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background: #2B68DD;
}

.upload-btn {
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #2B68DD;
}

/* Responsive for mobile device */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
    .great-work-section {
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 15px 0px rgba(143, 143, 143, 0.15);
        padding: 2rem;
    }
    
    .talent-title {
        width: 300px;
        color: #000;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: auto;
    }
    
    .talent-description {
        width: 300px;
        height: 47px;
        flex-shrink: 0;
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
       
        /* 150% */
    }
    
    .find-btn {
        display: inline-flex;
        padding: 14px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 6px;
        background: #2B68DD;
        margin-left: 42px;
    }
    
    .upload-btn {
        display: inline-flex;
        padding: 14px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 6px;
        border: 1px solid #2B68DD;
        margin-left: 25px;

    }
    
    
}